[user]
	email = shadyzekry75@gmail.com
	name = Shady Zekry
[credential]
	helper = store

[alias]
  hide = update-index --assume-unchanged
  unhide = update-index --no-assume-unchanged
  hidden = ! git ls-files -v | grep '^h' | cut -c3-

