*

!.gitignore
!.gitconfig
!.gitconfig

!.bashrc
!.bash_profile
!.Xresources
!.xinitrc

!.config

!.config/nvim
!.config/nvim/*
!.config/nvim/lua
!.config/nvim/lua/*
!.config/nvim/lua/custom
!.config/nvim/lua/custom/*
!.config/nvim/lua/custom/snips
!.config/nvim/lua/custom/snips/*
!.config/nvim/lua/custom/plugins
!.config/nvim/lua/custom/plugins/*

!.config/arco-dwm
!.config/arco-dwm/*
.config/arco-dwm/dwm

!.config/arco-st
!.config/arco-st/*

!.config/mpv
!.config/mpv/*

!.config/Thunar
!.config/Thunar/*

!.config/rofi
!.config/rofi/*

!.config/ranger
!.config/ranger/*

!.config/picom/picom.conf
!.config/picom/picom.conf/*

!.config/git
!.config/git/*

!.config/tmux
!.config/tmux/*

!scps
!scps/*
