*

!.gitignore
!.gitconfig
!.gitconfig

!.bashrc
!.bash_profile
!.Xresources
!.xinitrc

!.config

!.config/nvim
!.config/nvim/*

!.config/arco-dwm
!.config/arco-dwm/*
.config/arco-dwm/dwm

!.config/arco-st
!.config/arco-st/*

!.config/mpv
!.config/mpv/*

!.config/Thunar
!.config/Thunar/*

!.config/rofi
!.config/rofi/*

!.config/ranger
!.config/ranger/*

!.config/picom/picom.conf
!.config/picom/picom.conf/*

!scps
!scps/*
